body{
    background-color: #242424;
}
.windows .top, .bottom {
    width:100%;
    height: 50%;
    position: relative;
}
.windows .title{
    position: absolute;
    width: 100%;

}
.windows .title h1 {
    margin-right: 0;
    color: #FCA205;
    font-family: 'Lobster';
    font-size: 9vw;
    margin-top:15%;
    margin-left:10%;
}

.windows .btn{
    position:absolute;
    width:100%;
}
.windows .btn h1 a {
    font-family: 'Lobster';
    color:white;
    font-size:5vw;
}

