body{
    background-color: #242424;
}
.windows .top h1 a{
    font-family: 'Lobster';
    color: #FCA205;
}
.windows .top{
    width:100%;
    height: 15%;
}
.windows .top .hastag {
    height: 100%;
    width: 50%;
    float: left
}
.windows .top .hastag #hastag{
    margin-left: 57%;
    margin-top:4%;
    width: 40%;
    height: 30%;
}
.windows .top .search{
    height: 100%;
    width: 50%;
    float:right;
}


.windows .bottom{
    width: 100%;
    height: 85%;
}

canvas{
    /*background-color: #525357;*/
    /*width: 98%;*/
    /*height: 98%;*/
    margin-left: 1%;
    margin-top:1%;
}

#info{
    background:#FCA205;
    width: 25%;
    height: 18%;
    position: absolute;
    top: 1%;
    right: 0.5%;
    font-family:'Open Sans';
    font-size: 130%;
    visibility: hidden;

}
div#header{
    height:25%;
    margin-left:6%;
}

div#containsInfo{
    height:75%;
    margin-left:20%;
}
div#containsInfo#user{
    margin-left:7%;
}
div#closeInfo{
    width:8%;
    height:100%;
    float: right;
}
div#containsInfo#username{
    margin-left:40%;
}
