{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">


</head>

<body>
    <div class = "windows">
        <div class = "top">
            <div class = "title">
                <h1>Twitter Data Collection</h1>
            </div>
        </div>
        <div class = "bottom">
            <div class = "btn">


            <form method="POST">
                {% csrf_token %}
                {{form.has}}
                {{form.time}}
                <div class="inputDivRange">
                    <div id="valueRange"></div>
                    <input id="inputR" type="range" value="1" min="0" max="100" autocomplete="off">
                </div>
                <input type="submit" value="Start" />
            </form>
            </div>
        </div>
    </div>


</body>

<script>


    var elInput = document.querySelector('#inputR');
    var time = document.querySelector('#id_time');
    if (elInput) {
            var valueRange = document.querySelector('#valueRange');
            if (valueRange) {
                valueRange.innerHTML = elInput.value;
                time.value = elInput.value;
                elInput.addEventListener('input', function() {
                valueRange.innerHTML = elInput.value;
                time.value = elInput.value;
            }, false);
        }
    }
</script>
</html>

