{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/search.css' %}">

    </head>

    <body>
        <div id = "info">
            <div id= "header">
                <span id = "inf">Information</span>
                <div id = "closeInfo" onclick="closeInfo()">
                    <i class="fa fa-close" style="font-size:170%"></i>
                </div>
            </div>
            <div  id="containsInfo">
                <p id ="user">Username:</p>
                <div id = "infoUsername">
                    <p id = "username"></p>
                </div>
            </div>
        </div>
        <canvas id="network" width="1400" height="700"></canvas>
    </body>

        <script src="{% static 'lib/neo4j-web.min.js' %}"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="../static/js/search.js"></script>

</html>
