{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/search.css' %}">

    </head>

    <body>
        <div id = "info">
            <div id= "header">
                <span id = "inf"><b>Information</b></span>
                <div id = "closeInfo" onclick="closeInfo()">
                    <i class="fa fa-close" style="font-size:170%"></i>
                </div>
            </div>
            <div  id="containsInfo">
                <div id = "profilePhoto">
                    <img id = "imgP" src="">
                </div>
                <div id = "name">
                    <p id = nameP> Name:</p>
                </div>
                <div id = "infoUsername">
                    <p id = "usernameP">Username:</p>
                </div>
                <div id = "description">
                    <p id="descriptionP">Description:</p>
                </div>
                <div id = "verified">
                    <p id = "verifiedP">verified:</p>
                </div>
                <div id = "profile_id">
                    <p id = "profile_idP">id:</p>
                </div>
                <div id = "followers">
                    <p id = "followersP"> followers:</p>
                </div>
                <hr>
                <div id = "tweet">
                    <p id="tweetP">Tweet:</p>
                </div>
                <div id = "location">
                    <p id = "locationP">Location:</p>
                </div>
                <div id = "time">
                    <p id = "timeP">time:</p>
                </div>

                <div id = "url">
                    <p id = "urlP">Url:</p>
                </div>
            </div>
        </div>
        <canvas id="network" width="1400" height="700"></canvas>
    </body>

        <script src="{% static 'lib/neo4j-web.min.js' %}"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="../static/js/search.js"></script>

</html>
